@import url('https://fonts.googleapis.com/css?family=Baloo|Lato');

$hue-primary: 255; //degrees
$sat-primary: 67%;
$color-primary: hsl($hue-primary, $sat-primary, 55%);
$color-primary-light: hsl($hue-primary, $sat-primary, 67%);

$font-primary: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;

html {
  height: 100%;
}
body {
  background-color: white;
  min-height: 400%;
  // font: 12pt $font-primary;
  line-height: 12pt * 1.3;
  // overflow: hidden;
}
::selection {
  background-color: $color-primary-light;
}

#gooey-bg {
  z-index: 200;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  // border: 1px solid black;
  path {
    &.color-path {
      fill: $color-primary;
    }
    &.light-path {
      fill: $color-primary-light;
    }
    &.white-path {
      fill: white;
    }
  }
}

#landing {
  z-index: 300;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  // background-color: green;
  @media screen and (max-width:768px) {
    
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-logo {
    text-align: center;
    color: white;
    font-size: 72pt;
    font-weight: 400;
    font-family: Baloo, sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 0 0.45rem rgba(0,0,0, 0.3);
    @media screen and (max-width: 768px) {
      font-size: 48pt;
    }
  }
  &-subtitle {
    color: white;
    font: 20pt $font-primary;
    text-shadow: 0 0.25rem rgba(0,0,0, 0.3);
    margin-bottom: 0.5em;
  }

  .landing-button {
    color: white;
    border-color: white;
    border-radius: 100em;
    border-width: 2px;
    font-family: $font-primary;
    text-shadow: 0 0.25rem rgba(0,0,0, 0.3);
    box-shadow: 0 0.25rem rgba(0,0,0, 0.3), 0 0.2rem rgba(0,0,0, 0.3) inset;
    &:hover, &:active, &:focus {
      color: $color-primary;
      background-color: white;
      border-color: white;
      text-shadow: none;
      box-shadow: 0 0.25rem rgba(0,0,0, 0.3);
    }
  }
}

#nav-header {
  display: none; // fade in by js
  z-index: 400;
  position: fixed;
  top: 0; right: 0; left: 0;
  
  .nav {
    // padding: 0.75em 2.5em 0;
    font-size: 12pt;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-link {
    color: white;
    border: none;
    padding: 1em 1.5em;
    &.active {
      background-color: $color-primary-light;
    }
  }
  .nav-register {
    font-weight: bold;
    align-self: flex-end;
  }
}

#page {
  z-index: 100;
  position: absolute;
  top: 75%; right: 0; bottom: 0; left: 0;
  
  h1 {
    text-align: center;
  }
  section {
    padding-top: 10%;
  }
  // .map-container {
  //   position: relative;
  //   padding-top: 30px;
  //   padding-bottom: 50%;
  //   height: 0;
  //   overflow: hidden;
  // }
}

footer {
  padding-top: 10%;
}

.map-container {
  &::before {
    padding-top: percentage(1 / 2);
  }
}