.schedule-container {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: fit-content;
  min-height: 50vh;
  background: #fbf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.schedule-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1e0e56;
  margin-top: 60px;
}

.schedule-component-container {
  height: 600px;
  margin-top: 60px;
  overflow-y: scroll;
  width: 900px;
}

.schedule-component-subtext {
  width: 900px;
  display: flex;
  font-family: 'Nunito';
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  margin-top: 10px;
  margin-left: 150px;
}

@media only screen and (max-width: 1000px) {
  .schedule-component-container {
    width: 500px;
  }
  .schedule-component-subtext {
    width: 500px;
    margin-left: 150px;
  }
}

@media only screen and (max-width: 700px) {
  .schedule-component-container {
    width: 320px;
    height: 500px;
  }
  .schedule-component-subtext {
    width: 215px;
    margin-left: 0px;
    font-size: 11px;
  }
}
