.faq-div {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background: #fbf9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  .faq-content-div-col1 {
    width: 200px;
    padding: 0px;
  }
  .faq-content-div {
    height: 100%;
    min-height: fit-content;
    margin-bottom: 40px;
    width: 380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.faq-content-div {
  height: 100%;
  min-height: fit-content;
  margin-bottom: 40px;
  min-width: 280px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.faq-content-div-col1 {
  width: 500px;
  padding: 20px;
}

.faq-action {
  position: relative;
}

.faq-action:after {
  background: none repeat scroll 0 0 transparent;
  content: '';
  font-size: 0;
  height: 3px;
  display: inline-block;
  background: #b600ff;
  transition: width 0.3s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
}

.faq-action:hover:after {
  width: 100%;
}
