.sponsor-display-div{
    width: 100%;
    height: fit-content;
    min-height: 50vh;
    background: #fbf9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 80px; */
}

.sponsor-display-title-div{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    /* text/headings */

    color: #1e0e56;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ant-collapse-header{
    background: white;
}

.ant-collapse-content-box{
    background: #F5F8FE;
}


.sponsor-display-content-div{
    width: 80%;
    height: 100%;
    margin-top: 40px;
    min-height: fit-content;
    margin-bottom: 40px;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sponsor-display-item{
    width: 350px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
    .sponsor-display-title-div{
        font-size: 28px;
        line-height: 40px;
    }
    
}

@media only screen and (max-width: 700px) {
    .sponsor-display-title-div{
        font-size: 24px;
        line-height: 36px;
    }
    .sponsor-display-content-div{
        width: 280px;
        
    }
    .sponsor-display-item{
        width: 280px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 50px;
    }
}