.navbar-div {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: 0.3s ease-in;
  z-index: 10;
}

.navbar-logo-div {
  display: flex;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
}

.navbar-links-div {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  flex: 3;
}
.navbar-filler-div {
  flex: 3.5;
}

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0px;
  width: 10%;
  z-index: 10000;
}

.navbar-icons-div {
  padding-top: 12px;
  width: 150px;
  min-width: 150px;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 170px;
}

.navbar-icons-div a {
  color: #7b0ff7;
  font-size: 1.3rem;
}

.navbar-action-div {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 40px;
}

.navbar-link-item {
  color: #7b0ff7;
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  transition: 0.15s ease-in all;
}

.scrolled-navbar {
  background: white;
  box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08),
    0px 3px 6px rgba(0, 0, 0, 0.12);
}

.navbar-logo:hover {
  cursor: pointer;
}

.navbar-logo {
  background-size: 30px 60px;
  width: 30px;
  height: 60px;
  background-image: url('../../../assets/logo/Logo.svg');
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-position: center center;
}

.scrolled-navbar .navbar-logo {
  opacity: 1;
}

.hamburger {
  margin-right: 20px;
  z-index: 2;
}
.line {
  width: 20px;
  height: 2px;
  background-color: #1e0e56;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
  background-color: black;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-mobile-div {
  position: absolute;
  width: 100vw;
  top: 0px;
  overflow: auto;
  background: white;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
}

.test-navbar {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-mobile-links-div {
  display: flex;
  margin-left: 70px;
  margin-top: 70px;
  flex-direction: column;
}

.navbar-mobile-link-container {
  margin-bottom: 25px;
}

.navbar-mobile-link-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #7b0ff7;
  display: inline;
}

.social-icon {
  color: #7b0ff7;
}

.navbar-mobile-link-item:hover {
  cursor: pointer;
}

.navbar-social-icon {
  margin-top: 10px;
}

.navbar-social-icon path {
  fill: white;
}

.navbar-social-icon.instagram path {
  fill: none;
  stroke: white;
}

.navbar-social-icon-scrolled path {
  fill: #7b0ff7;
}
.navbar-social-icon-scrolled.instagram path {
  stroke: #7b0ff7;
  fill: none;
}

.navbar-social-icon:hover path {
  fill: #251d96;
}

.navbar-social-icon.instagram:hover path {
  fill: none;
  stroke: #251d96;
}

@media only screen and (max-width: 780px) {
  .navbar-div {
    height: 80px;
  }

  .navbar-links-div {
    display: none;
  }
  .navbar-icons-div {
    display: none;
  }
  .navbar-action-div {
    display: none;
  }
  #mlh-trust-badge {
    display: none;
  }

  .navbar-logo {
    background-image: url('../../../assets/logo/Logo.svg');
    background-size: 30px 60px;
    width: 30px;
    height: 60px;
  }
  .navbar-logo-div {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 781px) {
  .hamburger {
    display: none;
  }
  .navbar-mobile-div {
    display: none;
    opacity: 0%;
  }
}
