@import url("https://fonts.googleapis.com/css?family=Baloo|Nunito:300,400,600,800");
@-webkit-keyframes pulsate {
  0% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  15% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5); }
  85% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  100% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; } }
@keyframes pulsate {
  0% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  15% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5); }
  85% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; }
  100% {
    background-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset; } }

body {
  font: 13pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  line-height: 17.33333pt; }

::-moz-selection {
  background-color: #7e70c8; }

::selection {
  background-color: #7e70c8; }

svg.transition-paths {
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  pointer-events: none; }
  svg.transition-paths path.color-path {
    fill: #6554be; }
  svg.transition-paths path.light-path {
    fill: #7e70c8; }
  svg.transition-paths path.white-path {
    fill: white; }
  svg.transition-paths#landing-transition {
    z-index: 200; }
  svg.transition-paths#white-transition {
    z-index: 201; }

#landing {
  background-color: #6554be;
  background-image: url("/img/landing-bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: 100;
  position: fixed;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #landing #landing-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #landing #landing-logo {
    position: relative;
    height: 33.33333vh;
    max-width: 75vw;
    margin-bottom: 2rem; }
  #landing h2, #landing h3, #landing h4 {
    color: white;
    text-align: center;
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    margin-bottom: 0.75rem; }
  #landing h2 {
    font: 600 30pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
  #landing h3 {
    font: 300 18pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    margin-bottom: 2rem; }
  #landing h4 {
    font: 300 18pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
  #landing a {
    color: #A1D083;
    font-weight: 600; }
  #landing .landing-button {
    margin: 0.5rem;
    padding: 0.75rem 2rem;
    background: none;
    color: white;
    border-color: white;
    border-radius: 100em;
    border-width: 2px;
    font: 600 18pt "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
    text-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5) inset;
    -webkit-animation: pulsate 5s infinite;
            animation: pulsate 5s infinite; }
    @media only screen and (max-width: 575px) {
      #landing .landing-button {
        border-radius: 100rem;
        border-width: 2px;
        margin: 0.25rem;
        padding: 0.5rem 1.5rem; } }
    #landing .landing-button:hover, #landing .landing-button:active, #landing .landing-button:focus {
      -webkit-animation: none;
              animation: none;
      color: #6554be;
      background-color: white;
      text-shadow: none;
      box-shadow: 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5); }

#nav-header {
  background-color: #7e70c8;
  display: none;
  z-index: 400;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
  #nav-header .nav {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.225); }
  #nav-header .nav-tabs {
    border-bottom: none; }
  #nav-header .nav-link {
    color: #F5F5DC;
    border: none;
    padding: 1em 1.5em; }
    #nav-header .nav-link.active {
      background-color: #9f95d6; }
    #nav-header .nav-link:hover {
      background-color: #9f95d6; }
  #nav-header .nav-register {
    font-weight: 800; }
  @media only screen and (max-width: 767px) {
    #nav-header {
      font-size: 12pt; } }

#page {
  z-index: 300;
  position: relative;
  top: 105vh;
  right: 0;
  bottom: 0;
  left: 0; }
  #page section {
    margin-bottom: 12.5vh; }
  #page h1, #page h2 {
    font-size: 40pt;
    line-height: 53.33333pt;
    text-align: center;
    font-family: Baloo, "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif; }
  #page a {
    color: #A1D083;
    font-weight: 600; }

article#on-color {
  color: #F5F5DC;
  text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15); }
  article#on-color h1, article#on-color h2 {
    color: #A1D083; }
  article#on-color h1 {
    margin-bottom: 2rem;
    border-bottom: 2px solid #A1D083;
    box-shadow: 0 0.2rem rgba(0, 0, 0, 0.15); }

article#on-white {
  margin-top: 60vh; }
  article#on-white h1, article#on-white h2 {
    color: #493A98;
    text-shadow: 0 0.2rem rgba(0, 0, 0, 0.15); }

.tagline {
  font-size: 120%;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1.5em; }

section.about .tagline {
  font-size: 150%;
  margin-bottom: 0.5em; }

section.about .map-container::before {
  padding-top: 61.8047%; }

section.about .social-buttons {
  margin-bottom: 1.5rem; }
  section.about .social-buttons .social-link-icon img {
    height: 4.8rem;
    width: 4.8rem;
    margin: 1rem; }

section.faq h3 {
  font-size: 150%;
  font-weight: 400;
  margin-bottom: 0.5em; }

section.faq p {
  margin-bottom: 1.5em; }

section.faq .centered {
  text-align: center; }

section.schedule .schedule-table .time {
  padding-top: 0.75em; }

section.schedule .schedule-table .event {
  min-height: 5em;
  padding: 0.5em 1em;
  margin: 0.25em 0.5em;
  background-color: #6554be;
  color: white;
  font-weight: 300; }
  section.schedule .schedule-table .event .title {
    font-weight: 700; }
  section.schedule .schedule-table .event .subtitle {
    font-style: italic; }
  section.schedule .schedule-table .event-workshop {
    background-color: #7ebe55; }

section.schedule .schedule-table .schedule-div {
  height: 25%;
  border-bottom: 1px solid grey;
  text-align: center;
  margin: 0.5em 0.5em; }
  section.schedule .schedule-table .schedule-div .schedule-div-text {
    font-size: 13pt;
    background-color: white;
    padding: 0 0.5em; }

section.sponsors .logo {
  padding: 1.5rem; }

section.sponsors .logo-square img {
  padding: 0 10%; }

section.sponsors h2 {
  margin-top: 0.5em; }

footer {
  margin-top: 20vh; }
  footer .copyright {
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 0; }
