.sponsor-display-div{
    width: 100%;
    height: fit-content;
    min-height: 50vh;
    background: #fbf9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.sponsor-display-title-div{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;

    /* text/headings */

    color: #0E3256;
    margin-top: 40px;
}

.ant-collapse-header{
    background: white;
}

.ant-collapse-content-box{
    background: #F5F8FE;
}


.sponsor-display-content-div{
    width: 80%;
    height: 100%;
    margin-top: 40px;
    min-height: fit-content;
    margin-bottom: 40px;
    min-width: 280px;
    max-width: 850px;
}

@media only screen and (max-width: 1000px) {
    .sponsor-display-title-div{
        font-size: 28px;
        line-height: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .sponsor-display-title-div{
        font-size: 24px;
        line-height: 36px;
    }
}