/*carousel*/
.carousel-item {
  width: 100%;
  border-radius: 20px;
}

.about-stats {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.about-stat-container {
  text-align: center;
}
.about-stat {
  color: #7b0ff7;
  font-size: 2rem;
  margin: 0;
}
.about-stat-title {
  font-size: 1.5rem;
}

.jam-image-div {
  width: 280px;
  height: 495px;
  background-size: 280px 495px;
  background-image: url("../../Assets/Jar.svg");
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.about-div {
  width: 100%;
  height: fit-content;
  background: #7b0ff7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-background-div {
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.about-content {
  width: 60%;
  max-width: calc(100% - 300px)
}

.about-title-div {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 43px;
  display: flex;
  align-items: center;

  /* text/headings */

  margin-bottom: 40px;
  margin-top: 40px;
}

.about-content-subheading {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 28px;
  /* or 156% */

  /* text/body */
  margin-bottom: 25px;
  margin-right: 20px;
}

.about-content-row-div {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 5;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.about-content-item {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  margin-bottom: 30px;
}

.about-content-item-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 32px;
  display: flex;
  align-items: center;

  /* text/secondary heading */

  color: #0a56e9;
  margin-top: 40px;
  margin-bottom: 15px;
}

.about-content-item-content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  /* or 157% */

  /* text/body */

  color: #0a0a0a;
}

.about-content-item-image {
  width: 80px;
  height: 80px;
  background: #8dc740;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-carousel-image {
  width: 35%;
  min-width: 260px;
  margin-right: 30px;
}

.jam-text {
  min-width: 260px;
  max-width: calc(100% - 350px);
}

@media only screen and (max-width: 1000px) {
  .about-content-subheading {
    font-size: 1rem;
    line-height: 24px;
  }
  .about-title-div {
    font-size: 1.8rem;
    line-height: 40px;
  }
  .about-content-item-image {
    width: 60px;
    height: 60px;
  }
  .about-content-item-title {
    font-size: 1.3;
    line-height: 28px;
    margin-top: 30px;
  }
  .jam-image-div {
    width: 195px;
    height: 344px;
    background-size: 195px 344px;
    background-image: url("../../Assets/Jar.svg");
  }
  .jam-text {
    max-width: calc(100% - 250px);
  }
  .about-stat {
    font-size: 1.5rem;
  }
  .about-stat-title {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .about-title-div {
    font-size: 1.5rem;
    line-height: 36px;
  }
  .about-content-subheading {
    font-size: 1rem;
    line-height: 22px;
  }
  .about-content-item-title {
    font-size: 1.2rem;
    line-height: 26px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 620px) {
  .jam-text {
    width: 100%;
    max-width: 100%;
  }

  .about-content {
    width: 100%;
    max-width: 100%;
  }

  .about-content-row-div {
    justify-content: center;
  }
}
