.footer-div {
  min-height: 330px;
  background: #7b0ff7;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.footer-content-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 270px;
  margin-left: 30px;
}
.footer-bottom-div {
  min-height: 60px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.footer-title-content {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 43px;
  display: flex;

  /* text/headings */

  color: white;
  margin-top: 40px;
}

.footer-copyright {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 17px;
  /* identical to box height */

  /* text/body */

  color: white;
  margin-left: 30px;
  flex: 1;
  min-width: 250px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.footer-privacy,
.footer-link {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 17px;
  /* identical to box height */

  /* text/body */

  color: white;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.social-icon.white {
  width: 24px;
  height: 24px;
  transition: 0.15s ease-in-out all;
}

.social-icon.white.facebook path,
.social-icon.white.twitter path,
.social-icon.white.linkedin path {
  fill: white;
}

.social-icon.white.instagram path {
  stroke: white;
}

.social-icon:hover {
  cursor: pointer;
}

.hover-icon {
  transition: 0.15s ease-in-out all;
}

.hover-icon:hover {
  opacity: 50%;
}

.footer-icons-div {
  /* flex: 1.3; */
  width: 150px;
  min-width: 150px;
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  margin-left: 30px;
  width: 114px;
  height: 40px;
  background: url("../../Assets/JamhacksSolidFull.svg");
  background-size: 115px 40px;
  margin-bottom: 15px;
}

.footer-copyright-linebreak {
  display: none;
}

@media only screen and (max-width: 690px) {
  .footer-copyright-linebreak {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-title-content {
    font-size: 1.5rem;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-title-content {
    font-size: 1.5rem;
    line-height: 36px;
  }
  .footer-copyright {
    font-size: 1rem;
    margin-right: 30px;
  }
  .footer-privacy,
  .footer-link {
    margin-right: 30px;
    font-size: 1rem;
  }
}
