$blockTimes: SA1111, SA1130, SA1200, SA1230, SA1300, SA1330, SA1400, SA1430,
  SA1500, SA1530, SA1600, SA1630, SA1700, SA1730, SA1800, SA1830, SA1900, SA1930,
  SA2000, SA2030, SA2100, SA2130, SA2200, SA2230, SA2300, SA2330, SA2323, SU2400,
  SU2430, SU100, SU130, SU200, SU230, SU300, SU330, SU400, SU430, SU500, SU530,
  SU600, SU630, SU700, SU730, SU800, SU830, SU900, SU930, SU1000, SU1030, SU1100,
  SU1130, SU1200, SU1230, SU1300, SU1330, SU1400, SU1430, SU1500, SU1530, SU1600,
  SU1630, SU1700, SU1730, SU1800;

$blockLengths: 1, 2, 3, 4;

.scheduleContainer {
  display: grid;
  grid-gap: 0.2rem;

  grid-template-columns: 5rem repeat(4, 1fr);
  grid-template-rows: repeat(64, 1fr);
  grid-template-areas:
    'timeSA1111 stage stage stage stage'
    'timeSA1130 stage stage stage stage'
    'timeSA1200 stage stage stage stage'
    'timeSA1230 stage stage stage stage'
    'timeSA1300 stage stage stage stage'
    'timeSA1330 stage stage stage stage'
    'timeSA1400 stage stage stage stage'
    'timeSA1430 stage stage stage stage'
    'timeSA1500 stage stage stage stage'
    'timeSA1530 stage stage stage stage'
    'timeSA1600 stage stage stage stage'
    'timeSA1630 stage stage stage stage'
    'timeSA1700 stage stage stage stage'
    'timeSA1730 stage stage stage stage'
    'timeSA1800 stage stage stage stage'
    'timeSA1830 stage stage stage stage'
    'timeSA1900 stage stage stage stage'
    'timeSA1930 stage stage stage stage'
    'timeSA2000 stage stage stage stage'
    'timeSA2030 stage stage stage stage'
    'timeSA2100 stage stage stage stage'
    'timeSA2130 stage stage stage stage'
    'timeSA2200 stage stage stage stage'
    'timeSA2230 stage stage stage stage'
    'timeSA2300 stage stage stage stage'
    'timeSA2330 stage stage stage stage'
    'timeSA2323 stage stage stage stage'
    'timeSU2400 stage stage stage stage'
    'timeSU2430 stage stage stage stage'
    'timeSU100 stage stage stage stage'
    'timeSU130 stage stage stage stage'
    'timeSU200 stage stage stage stage'
    'timeSU230 stage stage stage stage'
    'timeSU300 stage stage stage stage'
    'timeSU330 stage stage stage stage'
    'timeSU400 stage stage stage stage'
    'timeSU430 stage stage stage stage'
    'timeSU500 stage stage stage stage'
    'timeSU530 stage stage stage stage'
    'timeSU600 stage stage stage stage'
    'timeSU630 stage stage stage stage'
    'timeSU700 stage stage stage stage'
    'timeSU730 stage stage stage stage'
    'timeSU800 stage stage stage stage'
    'timeSU830 stage stage stage stage'
    'timeSU900 stage stage stage stage'
    'timeSU930 stage stage stage stage'
    'timeSU1000 stage stage stage stage'
    'timeSU1030 stage stage stage stage'
    'timeSU1100 stage stage stage stage'
    'timeSU1130 stage stage stage stage'
    'timeSU1200 stage stage stage stage'
    'timeSU1230 stage stage stage stage'
    'timeSU1300 stage stage stage stage'
    'timeSU1330 stage stage stage stage'
    'timeSU1400 stage stage stage stage'
    'timeSU1430 stage stage stage stage'
    'timeSU1500 stage stage stage stage'
    'timeSU1530 stage stage stage stage'
    'timeSU1600 stage stage stage stage'
    'timeSU1630 stage stage stage stage'
    'timeSU1700 stage stage stage stage'
    'timeSU1730 stage stage stage stage'
    'timeSU1800 stage stage stage stage';
}

.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // border-top: thin dotted #ccc;
  height: 100%;
  padding: 0 0.5rem;

  @each $time in $blockTimes {
    &.start-#{$time} {
      grid-area: time#{$time};
    }
  }

  &[class*='30']:not(.start-SA1300):not(.start-SA2300):not(.start-SU300):not(.start-SU1300) {
    font-size: 0.8rem;
    color: #ccc;
  }
}

.event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: orange;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.4;

  span {
    display: block;
    width: 100%;
    font-size: 0.8em;
    font-weight: normal;
  }

  @each $time in $blockTimes {
    &.start-#{$time} {
      grid-row-start: time#{$time};
    }
  }

  @each $time in $blockTimes {
    &.end-#{$time} {
      grid-row-end: time#{$time};
    }
  }

  @each $length in $blockLengths {
    &.length-#{$length} {
      grid-column-end: span #{$length};
    }
  }

  &.stage-earth {
    background-color: #ffa726;
  }
  &.stage-mercury {
    background-color: #9ccc65;
  }
  &.stage-venus {
    background-color: #c5fea4;
  }
  &.stage-mars {
    background-color: #78bdf9;
  }
  &.stage-jupiter {
    background-color: #78e4f9;
  }
  &.stage-saturn {
    background-color: #88f9c6;
  }
}

.schedule-component-inner-header {
  background: none;
  font-size: 25px;
  padding-left: 0px !important;
}

@media only screen and (max-width: 700px) {
  .event {
    font-size: 0.7em;
    padding: 0.25rem 0.7rem;
  }
  .time {
    padding: 0 0.2rem;
    font-size: 0.7rem;
    &[class*='30']:not(.start-SA1300):not(.start-SA2300):not(.start-SU300):not(.start-SU1300) {
      font-size: 0.7rem;
      color: #ccc;
    }
  }

  .scheduleContainer {
    grid-gap: 0.2rem;
    grid-template-columns: 3rem repeat(4, 1fr);
  }
  .schedule-component-inner-header {
    font-size: 15px;
  }
}
