- var loremipsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."

doctype html
html
  head
    meta(charset="UTF-8")
    title JAMHacks
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")

    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#6554be")
    meta(name="theme-color" content="#6554be")
    
    link(rel="stylesheet" href="css/style.css")

  body(data-spy="scroll" data-target="#nav-header" data-offset="10")
    #landing
      #landing-wrapper
        img#landing-logo(src="img/JAMHacks.svg" alt="JAMHacks")
        h2 April 9, 2016
        h3 Sir John A. Macdonald Secondary School, Waterloo
        a.btn.btn-outline-secondary.btn-lg.landing-button(href="http://") Register
    svg#gooey-bg(width="100%" height="100%" viewBox="0 0 100 1" preserveAspectRatio="none")
      //- defs
      //-   filter(xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%")
      //-     feGaussianBlur(in="SourceAlpha" stdDeviation="1.5")
      //-     feOffset(dx="0" dy="4" result="offsetblur")
      //-     feComponentTransfer
      //-       feFuncA(type="linear" slope="0.3")
      //-     feMerge
      //-       feMergeNode
      //-       feMergeNode(in="SourceGraphic")

      path(id="path1" class="light-path" d="")
      path(id="path2" class="color-path" d="")
      //- path(id="footer1" class="light-path" d="")
      //- path(id="footer2" class="color-path" d="")

    #nav-header
      ul.nav
        li.nav-item
          a.nav-link(href="#about") About
        li.nav-item
          a.nav-link(href="#faq") FAQ
        li.nav-item
          a.nav-link(href="#sponsors") Sponsors
        li.nav-item.nav-register
          a.nav-link(href="http://") Register

    #page
      main
        .container
          section#about
            .row.justify-content-center
              .col
                h1 About
            .row.justify-content-center
              .col-lg-9
                p.tagline JAMHacks is Waterloo's first high school hackathon. On April&nbsp;9th, come join 100 other high school students for 12&nbsp;hours of creativity, innovation and fun!
            .row.justify-content-center
              .col-md-9.col-lg-7
                .map-container.embed-responsive
                  iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11582.034386373409!2d-80.59938464999999!3d43.470855349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x375a3d40ac31533c!2sSir+John+A.+MacDonald+Secondary+School!5e0!3m2!1sen!2sca!4v1485054414351" allowfullscreen)


          section#faq
            .row.justify-content-center
              .col
                h1 FAQ
            .row
              .col-md-6
                h2 What is JAMHacks?
                p JAMHacks is a hackathon&mdash;a 12-hour-long "innovation marathon." You will work in teams of up to 4 to create an app, game, website, robot, or whatever your heart desires.
              .col-md-6
                h2 Who can participate?
                p JAMHacks is open to any high school student in Waterloo Region. If you're from elsewhere in Ontario and still want to come, send us an email at #[a(href="mailto:hello@jamhacks.ca") hello@jamhacks.ca]. We'll work something out!
              .col-md-6
                h2 What if I don't know how to code?
                p No problem! A hackathon is a great place to pick up new skills. We'll have workshops and mentors to guide you from your first line of code to writing your own app or website!
              .col-md-6
                h2 Is there any cost?
                p Nope! The event will be free for all participants.
                //- thanks to our generous sponsors
              //- .col-md-6
              //-   h2 Will I have to apply?
              //-   p We are expecting to have enough room for everyone who wants to come, so it will just be a simple registration! 
              .col-md-6
                h2 What should I bring?
                p You should bring your laptop (we will only be able to provide a very limited number of computers), phone, chargers, and some form of photo ID (students cards are fine). We will provide food, snacks and drinks!
              .col-md-6
                h2 Is there a code of conduct?
                p Yes. In short, be respectful to other people. You can read the full version #[a(href="https://hackcodeofconduct.org") here].
            .row.justify-content-center
              .col-md-6.centered
                h2 I have another question.
                p Feel free to send us an email at #[a(href="mailto:hello@jamhacks.ca") hello@jamhacks.ca].
                //- or send us a message on #[a(href="FACEBOOK EVENT") Facebook].


          section#sponsors
            .row.justify-content-center
              .col
                h1 Sponsors
            .row.justify-content-center
              .col-lg-9
                p Interested in sponsoring? Shoot us an email at #[a(href="mailto:sponsor@jamhacks.ca") sponsor@jamhacks.ca], or check out our #[a(href="sponsorship.pdf") sponsorship&nbsp;package].
              
      footer
        .container
          .col
            p.copyright &copy; 2017 JAMHacks. Website by Ethan Guo.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha256-rD86dXv7/J2SvI9ebmNi5dSuQdvzzrrN2puPca/ILls=" crossorigin="anonymous")

    script(src="js/index.js")