mixin mailto(email)
  a(href="mailto:"+email, target="_blank")= email

mixin logo-sm(src, alt)
  .logo.col-6.col-md-3
    img.img-fluid(src="img/logos/"+src, alt=alt)

mixin logo-md(src, alt)
  .logo.col-10.col-md-6
    img.img-fluid(src="img/logos/"+src, alt=alt)

mixin logo-lg(src, alt)
  .logo.col-12
    img.img-fluid(src="img/logos/"+src, alt=alt)


doctype html
html
  head
    meta(charset="UTF-8")
    title JAMHacks
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")

    //- Favicon/mobile stuff
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#6554be")
    meta(name="theme-color" content="#6554be")
    
    //- Scraping/Sharing meta stuff
    meta(name="description" content="JAMHacks is Waterloo's first high school hackathon. On April 9th, come join 100 other high school students for 12 hours of creativity, innovation and fun!")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "JAMHacks",
        "startDate": "2017-04-09T08:00",
        "endDate": "2017-04-09T22:00",
        "url": "http://jamhacks.ca/",
        "image":"http://jamhacks.ca/img/og-image/png",
        "description": "JAMHacks is Waterloo's first high school hackathon. On April 9th, come join 100 other high school students for 12 hours of creativity, innovation and fun!",
        "location": {
          "@type": "Place",
          "name": "Sir John A. Macdonald Secondary School",
          "address": "650 Laurelwood Drive, Waterloo, ON N2V 2V1"
        }
      }
    //- Facebook OpenGraph
    meta(property="og:url" content="http://jamhacks.ca/")
    meta(property="og:title" content="JAMHacks")
    meta(property="og:description" content="JAMHacks is Waterloo's first high school hackathon. On April 9th, come join 100 other high school students for 12 hours of creativity, innovation and fun!")
    meta(property="og:image" content="http://jamhacks.ca/img/og-image.png")

    link(rel="stylesheet" href="css/style.css")

  body(data-spy="scroll" data-target="#nav-header" data-offset="10")
    #landing
      #landing-wrapper
        img#landing-logo(src="img/JAMHacks.svg" alt="JAMHacks")
        h2 April 9, 2017
        h3 Sir John A. Macdonald Secondary School, Waterloo
        //- a.btn.btn-outline-secondary.btn-lg.landing-button(href="/register") Register
        h4 Registrations are now closed! Make sure to get your forms signed!
    svg#gooey-bg(width="100%" height="100%" viewBox="0 0 100 1" preserveAspectRatio="none")
      //- defs
      //-   filter(xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%")
      //-     feGaussianBlur(in="SourceAlpha" stdDeviation="1.5")
      //-     feOffset(dx="0" dy="4" result="offsetblur")
      //-     feComponentTransfer
      //-       feFuncA(type="linear" slope="0.3")
      //-     feMerge
      //-       feMergeNode
      //-       feMergeNode(in="SourceGraphic")

      path(id="path1" class="light-path" d="")
      path(id="path2" class="color-path" d="")
      //- path(id="footer1" class="light-path" d="")
      //- path(id="footer2" class="color-path" d="")

    #nav-header
      ul.nav
        li.nav-item
          a.nav-link(href="#about") About
        li.nav-item
          a.nav-link(href="#faq") FAQ
        li.nav-item
          a.nav-link(href="#schedule") Schedule
        li.nav-item
          a.nav-link(href="#sponsors") Sponsors
        li.nav-item.nav-register
          a.nav-link(href="/register") Register

    #page
      main
        .container
          section#about
            .row.justify-content-center
              .col
                h1 About
            .row.justify-content-center
              .col-lg-9
                p.tagline JAMHacks is Waterloo's first high school hackathon. On April&nbsp;9th, come join 100 other high school students for 12&nbsp;hours of creativity, innovation and learning!
            .row.justify-content-center
              .col-md-9.col-lg-7
                .map-container.embed-responsive
                  iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11582.034386373409!2d-80.59938464999999!3d43.470855349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x375a3d40ac31533c!2sSir+John+A.+MacDonald+Secondary+School!5e0!3m2!1sen!2sca!4v1485054414351" allowfullscreen)


          section#faq
            .row.justify-content-center
              .col
                h1 FAQ
            .row
              .col-md-6
                h3 What is JAMHacks?
                p JAMHacks is a #[strong hackathon]&mdash;a 12-hour-long "innovation marathon." You'll work in teams of up to 4 to create an app, game, website, robot, gadget, or whatever your heart desires.
              .col-md-6
                h3 What else is JAMHacks?
                p JAMHacks is also a #[strong learnathon]&mdash;We'll be running workshops to guide you through making a software or electronics project, even if you've never coded before!
              .col-md-6
                h3 What if I don't know how to code?
                p No problem! A hackathon is a great way to quickly pick up new skills. We'll have workshops and mentors to guide you from your first line of code to writing your own app or website!
              .col-md-6
                h3 Do I need to have a team?
                p Nope! We'll have time for team formation at the event, which is a great way to meet cool new people. That said, if you have some friends who are interested, you can definitely form a team ahead of time!
              .col-md-6
                h3 Can I build a hardware/electronics project?
                p Absolutely! We'll have a shop open with soldering irons and small components (resistors etc.) for you to use. Also, Intel will be providing some kits!
              .col-md-6
                h3 Who can participate?
                p JAMHacks is open to any high school student in Ontario!
              .col-md-6
                h3 Is there any cost?
                p Nope! The event will be free for all participants thanks to the generous contributions of our sponsors.
              .col-md-6
                h3 How many people will be accepted?
                p We should have enough room to accept everyone who applies!
              .col-md-6
                h3 What should I bring?
                p You should bring your laptop, phone, charger, and your student card or some other form of ID. We will provide food and snacks!
                //- (we will be able to provide a very limited number of computers)
              .col-md-6
                h3 What if I'm not a high school student?
                p We'd love to have you as a mentor! You can #[a(href="/mentor" target="_blank") register here].
              .col-md-6
                h3 Is there a code of conduct?
                p Yes. In short, be respectful to other people. You can read the full version #[a(href="/conduct" target="_blank") here].
              .col-md-6
                h3 I have another question.
                p Feel free to email us at #[+mailto("hello@jamhacks.ca")] or send us a message on #[a(href="https://www.facebook.com/JAMHacks/") Facebook].


          section#schedule
            .row.justify-content-center
              .col
                h1 Schedule
            .row.justify-content-center
              .col-lg-10.col-xl-9
                p.tagline Plan to arrive between 8:00-8:30am, to sign in, find a spot and get settled down. 
                  br.hidden-lg-down
                  | We should be ending around 9:30pm. A full schedule will be available soon!


          section#sponsors
            .row.justify-content-center
              .col
                h1 Sponsors
            .row.justify-content-center
              .col-lg-9
                p.tagline Interested in sponsoring? Shoot us an email at #[+mailto("sponsor@jamhacks.ca")], or check out our #[a(href="sponsorship.pdf" target="_blank") sponsorship&nbsp;package].
            .row.justify-content-center.align-items-center
              +logo-md("Christie-Digital.png", "Christie Digital")
              +logo-sm("Intel.png", "Intel")
            .row.justify-content-center.align-items-center
              +logo-sm("IoT-WR.png", "Internet of Things Waterloo Region")
              +logo-sm("Magnet-Forensics.png", "Magnet Forensics")
              
            .row.justify-content-center
              .col
                h2 Partners
            .row.justify-content-center
              +logo-md("Communitech.png", "Communitech")


      footer
        .container
          .col
            p.copyright &copy; 2017 JAMHacks. Website by Ethan Guo.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha256-rD86dXv7/J2SvI9ebmNi5dSuQdvzzrrN2puPca/ILls=" crossorigin="anonymous")

    script(src="js/index.js")