@import url('https://fonts.googleapis.com/css?family=Baloo|Nunito:300,400,600,800');

// $hue-primary: 255; //degrees
// $sat-primary: 67%;
// $color-primary: hsl($hue-primary, $sat-primary, 55%);
// $color-primary-lighter: hsl($hue-primary, $sat-primary, 67%);

$color-primary: #493A98;

$color-primary-light: lighten($color-primary, 12.5%);
$color-primary-lighter: lighten($color-primary, 20%);
$color-primary-lightest: lighten($color-primary, 30%);

$color-secondary: #a1d083;

$color-secondary-dark: darken($color-secondary, 12.5%);

$font-primary: "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;

$font-headings: Baloo, $font-primary;

$drop-shadow: 0 0.25rem;
$drop-shadow-small: 0 0.2rem;
$diffuse: 0.5rem;
$on-color: rgba(0,0,0, 0.3);
$on-white: rgba(0,0,0, 0.15);
$on-text: rgba(0,0,0, 0.225);

@mixin sm-down {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin xs-down {
  @media only screen and (max-width: 575px) {
    @content;
  }
}

html {
  // overflow: hidden;
  // height: 100%;
  // width: 100%;
}

body {
  // Fix for jumpy effects caused by url bar showing/hiding on Android Chrome.
  // TODO: Try using screen.height instead of window height in js (See http://stackoverflow.com/a/31330874/1670161).
  // position: fixed;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  // height: 100%;
  
  // background-color: white;
  // min-height: 400%;
  font: 13pt $font-primary;
  line-height: 13pt * 4/3;
  // overflow: hidden;
}
::selection {
  background-color: $color-primary-lighter;
}

#gooey-bg {
  z-index: 200;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  // border: 1px solid black;
  path {
    &.color-path {
      fill: $color-primary-light;
    }
    &.light-path {
      fill: $color-primary-lighter;
    }
  }
}

#landing {
  z-index: 300;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  #landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #landing-logo {
    position: relative;
    left: 6%;
    height: 100vh * 1/3;
    max-width: 75vw;
    margin-bottom: 2rem;
  }
  h2, h3, h4 {
    color: white;
    text-align: center;
    text-shadow: $drop-shadow $on-color;
    margin-bottom: 0.75rem;
  }
  h2 {
    font: 600 30pt $font-primary;
  }
  h3 {
    font: 300 18pt $font-primary;
    margin-bottom: 2rem;
  }
  h4 {
    font: 300 18pt $font-primary;
  }
  a {
    color: $color-secondary;
    font-weight: 600;
  }

  .landing-email-signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .email {
      margin: 0.5rem;
      margin-right: 0;
      padding: 0.75rem;
      padding-left: 1.5rem;
      padding-right: 1.25rem;
      background-color: $color-primary-light;
      color: white;
      border-color: white;
      // border-radius: 100em;
      border-width: 2px;
      border-right-width: 1px;

      border-top-left-radius: 100rem;
      border-bottom-left-radius: 100rem;

      @include xs-down {
        border-radius: 100rem;
        border-width: 2px;
        margin: 0.25rem;
        padding: 0.5rem 1rem;
      }

      font: 16pt $font-primary;
      text-align: left;
      text-shadow: $drop-shadow $on-color;
      box-shadow: $drop-shadow $on-color, $drop-shadow $on-color inset;

      &::placeholder {
        color: $color-primary-lightest;
        text-shadow: none;
      }

      &:hover {
        color: $color-primary-light;
        background-color: white;
        border-color: white;
        text-shadow: none;
        box-shadow: $drop-shadow $on-color;
      }
    }

    .subscribe-button {
      margin: 0.5rem;
      margin-left: 0;
      padding: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 2rem;
      background-color: $color-primary-light;
      color: white;
      border-color: white;
      // border-radius: 100em;
      border-width: 2px;
      border-left-width: 1px;

      border-top-right-radius: 100rem;
      border-bottom-right-radius: 100rem;

      @include xs-down {
        border-radius: 100rem;
        border-width: 2px;
        margin: 0.25rem;
        padding: 0.5rem 1.5rem;
      }

      font: 16pt $font-primary;
      text-shadow: $drop-shadow $on-color;
      box-shadow: $drop-shadow $on-color, $drop-shadow $on-color inset;
      &:hover, &:active, &:focus {
        color: $color-primary-light;
        background-color: white;
        border-color: white;
        text-shadow: none;
        box-shadow: $drop-shadow $on-color;
      }
    }
  }

  // .landing-button {
  //   margin: 0.5rem;
  //   width: 100%;
  //   @include xs-down {
  //     margin-bottom: 0.25rem;
  //     width: 40%;
  //     min-width: 7.5em;
  //   }
  //   background-color: $color-primary-light;
  //   color: white;
  //   border-color: white;
  //   border-radius: 100em;
  //   border-width: 2px;
  //   font: 16pt $font-primary;
  //   text-shadow: $drop-shadow $on-color;
  //   box-shadow: $drop-shadow $on-color, $drop-shadow $on-color inset;
  //   &:hover, &:active, &:focus {
  //     color: $color-primary-light;
  //     background-color: white;
  //     border-color: white;
  //     text-shadow: none;
  //     box-shadow: $drop-shadow $on-color;
  //   }
  // }
}

#nav-header {
  background-color: $color-primary-light;
  display: none; // fade in by js
  z-index: 400;
  position: fixed;
  top: 0; right: 0; left: 0;
  
  .nav {
    box-shadow: $drop-shadow $diffuse $on-text;
    // padding: 0.75em 2.5em 0;
    // font-size: 12pt;
    // display: flex;
    // justify-content: flex-start;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-link {
    color: white;
    border: none;
    padding: 1em 1.5em;
    &.active {
      background-color: $color-primary-lighter;
    }
  }
  .nav-register {
    font-weight: 800;
    // margin-left: auto;
  }

  @include sm-down {
    font-size: 12pt;
  }
}

#page {
  z-index: 100;
  position: relative;
  top: 80vh; right: 0; bottom: 0; left: 0;
  
  section {
    margin-bottom: 12.5vh;
  }

  h1, h2 {
    font-size: 40pt;
    line-height: 40pt * 4/3;
    text-align: center;
    color: $color-primary;
    font-family: $font-headings;
    text-shadow: $drop-shadow-small $on-white;
  }

  a {
    color: $color-secondary-dark;
    font-weight: 600;
  }

  .tagline {
    // font-weight: 300;
    font-size: 120%;
    line-height: 150%;
    text-align: center;
    margin-bottom: 1.5em;
  }
  // .map-container {
  //   position: relative;
  //   padding-top: 30px;
  //   padding-bottom: 50%;
  //   height: 0;
  //   overflow: hidden;
  // }

  section#about {
    .tagline {
      font-size: 150%;
      margin-bottom: 0.5em;
    }
    .map-container::before {
      padding-top: percentage(1 / 1.618);
    }
  }

  section#faq {
    h3 {
      font-size: 150%;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1.5em;
    }
    .centered {
      text-align: center;
    }
  }

  section#schedule {
    .schedule {
      .row {
      }
      .time {
        padding-top: 0.75em;
        // border-right: 1px dotted grey;
        // height: 100%;
      }
      .event {
        min-height: 5em;
        // height: 100%;
        padding: 0.5em 1em;
        margin: 0.25em 0.5em;
        // margin-bottom: 0.5em;
        background-color: $color-primary-light;
        color: white;
        font-weight: 300;

        .title {
          font-weight: 700;
        }
        .subtitle {
          font-style: italic;
        }
        .location {
        }
        &-workshop {
          background-color: $color-secondary-dark;
        }
      }
      .schedule-div {
        height: 25%;
        border-bottom: 1px solid grey;
        text-align: center;
        margin: 0.5em 0.5em;
        .schedule-div-text {
          font-size: 13pt;
          background-color: white;
          padding: 0 0.5em;
        }
      }
    }
  }

  section#sponsors {
    .logo {
      padding: 1.5rem;
    }
    .logo-grow {
      padding: 0.5rem;
      margin-right: 1rem;
    }
    .logo-grow-2 {
      padding: 0rem;
      margin-right: 1.5rem;
    }
    h2 {
      margin-top: 0.5em;
    }
  }

  footer {
    margin-top: 20vh;
    .copyright {
      text-align: center;
      padding-bottom: 2em;
      margin-bottom: 0;
    }
  }
}

.social-buttons {
  margin-bottom: 1.5rem;

  .social-link-icon {
    img {
      height: 4.8rem;
      width: 4.8rem;
      margin: 1rem;
    }
  }
}