@import url('https://fonts.googleapis.com/css?family=Baloo|Nunito:300,400,600,800');

// $hue-primary: 255; //degrees
// $sat-primary: 67%;
// $color-primary: hsl($hue-primary, $sat-primary, 55%);
// $color-primary-lighter: hsl($hue-primary, $sat-primary, 67%);

$color-primary: #493A98;
$color-bg: $color-primary;
$color-primary-light: lighten($color-bg, 12.5%);
$color-primary-lighter: lighten($color-bg, 20%);

$font-primary: "Nunito", "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;

$font-headings: Baloo, $font-primary;

$on-color: rgba(0,0,0, 0.3);
$on-white: rgba(0,0,0, 0.15);
$drop-shadow: 0 0.25rem;
$drop-shadow-small: 0 0.2rem;

html {
  // overflow: hidden;
  // height: 100%;
  // width: 100%;
}

body {
  // Fix for jumpy effects caused by url bar showing/hiding on Android Chrome.
  // TODO: Try using screen.height instead of window height in js (See http://stackoverflow.com/a/31330874/1670161).
  // position: fixed;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  // height: 100%;
  
  // background-color: white;
  // min-height: 400%;
  font: 13pt $font-primary;
  line-height: 13pt * 4/3;
  // overflow: hidden;
}
::selection {
  background-color: $color-primary-lighter;
}

#gooey-bg {
  z-index: 200;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  // border: 1px solid black;
  path {
    &.color-path {
      fill: $color-primary-light;
    }
    &.light-path {
      fill: $color-primary-lighter;
    }
  }
}

#landing {
  z-index: 300;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  // background-color: green;
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-logo {
    position: relative;
    left: 10%;
    height: 100vh * 1/3;
    max-width: 75vw;
    margin-bottom: 2rem;
  }
  h2, h3 {
    color: white;
    text-align: center;
    text-shadow: $drop-shadow $on-color;
    margin-bottom: 0.75rem;
  }
  h2 {
    font: 21pt $font-primary;
  }
  h3 {
    font: 300 15pt $font-primary;
  }

  .landing-button {
    color: white;
    border-color: white;
    border-radius: 100em;
    border-width: 2px;
    font: 15pt $font-primary;
    text-shadow: $drop-shadow $on-color;
    box-shadow: $drop-shadow $on-color, $drop-shadow $on-color inset;
    &:hover, &:active, &:focus {
      color: $color-primary-light;
      background-color: white;
      border-color: white;
      text-shadow: none;
      box-shadow: $drop-shadow $on-color;
    }
  }
}

#nav-header {
  background-color: $color-primary-light;
  display: none; // fade in by js
  z-index: 400;
  position: fixed;
  top: 0; right: 0; left: 0;
  
  .nav {
    // padding: 0.75em 2.5em 0;
    // font-size: 12pt;
    // display: flex;
    // justify-content: flex-start;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-link {
    color: white;
    border: none;
    padding: 1em 1.5em;
    &.active {
      background-color: $color-primary-lighter;
    }
  }
  .nav-register {
    font-weight: 800;
    // margin-left: auto;
  }
}

#page {
  z-index: 100;
  position: relative;
  top: 75vh; right: 0; bottom: 0; left: 0;
  
  h1 {
    font-size: 40pt;
    line-height: 40pt * 4/3;
    text-align: center;
    color: $color-primary;
    font-family: $font-headings;
    text-shadow: $drop-shadow-small $on-white;
  }
  section {
    margin-bottom: 12.5vh;
  }
  // .map-container {
  //   position: relative;
  //   padding-top: 30px;
  //   padding-bottom: 50%;
  //   height: 0;
  //   overflow: hidden;
  // }
}

#about {
  .tagline {
    // font-weight: 300;
    font-size: 150%;
    line-height: 150%;
    text-align: center;
    margin-bottom: 1.5em;
  }
  .map-container::before {
    padding-top: percentage(1 / 1.618);
  }
}

#faq {
  h2 {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  p {
    margin-bottom: 1.5em;
  }
  .centered {
    text-align: center;
  }
}

#sponsors {
  p {
    font-size: 120%;
    line-height: 150%;
    text-align: center;
  }
}

footer {
  margin-top: 10em;
  .copyright {
    text-align: center;
    padding-bottom: 2em;
    margin-bottom: 0;
  }
}